language: node_js
node_js:
- 8.0.0
after_success: npm run coverage
cache:
  directories:
  - node_modules
deploy:
  provider: heroku
  api_key:
    secure: P9BYvIf4GeTRAcprg7po9goaRzex4gUZtlvlSPS6gDEzY2l8WlRah/TwbmNR+Ro+8WmA5hl1YLWOf2X11/YZsM0FNtwmYM5TnSdoMErYFWOCEnbprceXlrDQosWrpAD6eNQO+TJuV5zRVSrIUhAsRZTtYzbSTuVFbm760fjn5yb7B7aGfXuMTGtdC9qGO9ZVHZBVVXMnw0bHl3mNQZitaUMeIIN73KS2/rttxenjxO9+Fzl5z3MAggfyjE+UmfYVHCD7yIeofS8XuNyRHDP9mlTYk5Ct2BliereHXleIQDmutA0vs11tN80rFxwvD5d3zgC37Z5eDIXSzAuktUdA3J9RjTdZz73Bp40l3xC6Jx0XabNPA1LujeURJWOBleruMAEnfSR2UwqySuksizkOeq01i7qeBkD/rpG+epbY5FqfBUwD5TmNFbNoveV7LzHJ1obBjmmVhXSvjWAi8oeTI9fWeg3r9a5A/zD23BTlSyDkGheFNld19igU3Fw6J7g0mZgKpAfTND/mFyA4dFw5R3Koww8tMB1v+N9WQf/vD0FXYAsJgOaqsg09Tvx+rNigbb6qSQHNmHLfNk7ujUzyyQj/ONx1TumY2+fY/EO6YsM/8HOZMEXE5a3R1ozN+AfCp68u9sLaSWdeqK7sl+6JTnQjLX9CbGNtIt2o7/xzpjo=
  app: mabootyng-racky-botus
  strategy: git
